* {
    font-family: Roboto;
}

/* graph code */
#threeNorthIntro {
    margin: auto;
}

#threeNorthAccom {
    margin: auto;
}

#energyCombination {
    margin: auto;
}

/* api part */
#charts {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    overflow: visible;
}

#airQuality {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    overflow: visible;
}

#apiBar {
    grid-column: 1;
    grid-row: 1;
    overflow: visible;
}

#apiPie {
    grid-column: 2;
    grid-row: 1;
    overflow: visible;
}

#nextPie {
    float: right;
    background-color: "#808786"
}

#nextPie:hover {
    background-color: bisque;
}

.pure-button {
    border: 2px outset lightgray;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}