* {
    font-family: Roboto;
}

/* header code */
#headerText {
    font-size: 24pt;
    font-weight: bold;
}

/* graph code */
#forestByProvince {
    margin: auto;
}

#desertification {
    margin: auto;
}

#result {
    margin: auto;
}

/* section for the next button*/
#next {
    float: right;
}

#nextButton:hover span {
    padding-right: 25px;
}

#nextButton:hover span:after {
    opacity: 1;
    right: 0;
}

#nextButton {
    float: right;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#nextButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#nextButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}